<div class="container-fluid">
    <div class="row mt-5 justify-content-center">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow-lg">
          <div class="card-body">
            <form>
              <div class="mb-3">
                <h4 class="text-center text-dark">Login</h4>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="email" required />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="password" required />
              </div>
              <button type="button" class="btn btn-primary w-100" (click)="login()">Login</button>
              <div class="row mt-3">
                <div class="col-md-6">
                  <a routerLink="/register" class="text-decoration-none">Need an Account? <span class="text-info">Register</span></a>
                </div>
                <div class="col-md-6 text-end">
                  <a routerLink="/forgot-password" class="text-decoration-none">Forgot Password?</a>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-12">
                  <a (click)="signInWithGoogle()" class="d-block text-center">
                    <div class="card shadow-sm p-2">
                      <div class="card-body d-flex align-items-center justify-content-center">
                        <img src="google.png" alt="Google Logo" height="30px" width="30px" />
                        <span class="ms-2">Sign In with Google</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  